@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Azeret Mono", monospace;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared styles */
.btn {
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;

    padding: 21px 24px 21px 24px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    border: none;

}

.box-t {
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;

}

.box-p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    margin-bottom: 32px;
}

.bx-btn {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    padding: 12px 20px 12px 20px;
    background-color: white;
}

.margin {
    margin-top: 100px;
}


/* nav styles */
nav {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    margin: 35px 150px 35px 150px;

}

.nav-title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;
}

.nav-btn {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    padding: 17px 24px 17px 24px;
    background-color: white;

    border-radius: 8px;
    opacity: 0.8;



}

/* banner section */
.banner {
    background-image: url("../assets/Hero-bg.png");
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    height: 652px;
    margin: 0 auto;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-pic {
    width: 240.28px;
    height: 240px;
}

.banner-title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 24px;
}

.banner-description {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    margin-bottom: 32px;
}

/* why web development */
.master-box {
    width: 946px;
    height: 1233px;
    padding: 80px 97px;
    margin: 0 auto;
    /* border: 2px solid red; */
}

.top-content {
    width: 852px;
    height: 113px;
    text-align: center;
    /* border: 2px solid red; */
    padding: 0 47px;
    margin-bottom: 48px;
}

.top-con-title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;
}

.top-con-description {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 48px;
}

/* box 1 starts here */
.box1-container {
    margin-bottom: 32px;
}

.box1 {
    /* border: 2px solid red; */

    width: 850px;
    height: 240px;
    padding: 48px;


    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 98px;
}

.bx1-pic {
    width: 259.56px;
    height: 217.01px;

}

/* box 1 ends here */

/* box 2 starts */
.box2-container {
    margin-bottom: 32px;
}

.box2 {
    /* border: 2px solid red; */
    width: 850px;
    height: 240px;
    padding: 48px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48.8px;
}

.bx2-pic {
    width: 223.2px;
    height: 208.85px;
}

.box2-content {
    margin: 10.5px 101px 10.5px 0;
}

/* box 2 ends here */



/* box 3 starts */
.box3 {
    /* border: 2px solid red; */
    width: 850px;
    height: 240px;
    padding: 48px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 149.8px;
}

.box3-content {
    margin: 10px 0 10px 0;
}

.bx3-pic {
    width: 206.4px;
    height: 187.32px;
}

/* my inspo section */

.whole-inspo {

    width: 1140px;
    height: 775px;
    /* border: 2px solid red; */
    margin: 0 auto;
    margin-top: 40px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.my-inspo-content {
    width: 852px;
    height: 113px;
    text-align: center;
}

.my-inspo-content h1 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;
}

.my-inspo-content p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
}

.ytb {
    border-radius: 15px;
}

/* my current target */
.target {
    width: 1140px;
    height: 460px;
    /* border: 2px solid red; */
    margin: 0 auto;
    margin-top: 151px;
}

.target-content {
    width: 946px;
    height: 113px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 48px;
}

.target-content h1 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;
}

.target-content p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
}

.target-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.target1 {
    width: 30%;
    padding: 40px;
}

.target1 h1 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    margin-top: 24px;
    margin-bottom: 8px;
}

.target1 p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    margin-bottom: 24px;
}

.target1 a {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
}

/* my-next-target */
.my-next-target {
    width: 1140px;
    height: 866px;
    /* border: 2px solid red; */
    margin: 0 auto;
    margin-top: 100px;
}

.mnt-content {
    width: 946px;
    height: 113px;
    margin: 0 97px;
    margin-bottom: 48px;

    text-align: center;
}

.mnt-content h1 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;
}

.mnt-content p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
}
.next-target-container{
    padding: 40px;
    /* border: 2px solid red; */
}
.next-target {
    width: 1060px;
    height: 139px;
    /* border: 2px solid red; */
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.next-target img {
    width: 94.78px;
    height: 84.41px;
  align-items: center;
}
.next-target h6 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 8px;
}.next-target p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    margin-bottom: 24px;

}.next-target a {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
}
.next-target .node-img {
    width: 143.3px;
    height: 87.75px;
  align-items: center;
}
.next-target .mongo-img {
    width: 108px;
    height: 108px;
  align-items: center;
}